body {
    background-color: gainsboro
}

.container {
    background-color: white;
}

.img-background {
    background-image: url("../img/UFC.jpg");
    height: 200px;
    background-size: cover;
}
.pull-right img-thumbnail {
    margin-top: -10px;
    margin-bottom: 10px
}

.header-row {
    margin-top: 20px
}

.banner-img {
    margin-bottom: 20px
}

.navbar {
    margin-bottom: 0;
}

.product-img {
    width: 70%;
}